*,
*::after,
*::before {
   box-sizing: border-box;
   margin: 0;
}
ul li,
ol li {
   list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   font-size: inherit;
}
input:focus,
button:focus {
   outline: none;
   font-size: inherit;
   color: inherit;
}
a {
   text-decoration: none;
}
body {
   margin: 0;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   line-height: 1;
   color: #fff;
   font-size: 16px;
   background-color: #555;
}

.wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   width: 100%;
   overflow: hidden;
}
.page__container {
   max-width: 1460px;
   margin: 0 auto;
   display: flex;
   flex-direction: row-reverse;
   padding: 30px 10px;
}
.page {
   flex: 1 1 auto;
}
table {
   text-align: left;
}
caption {
   font-weight: 700;
}
th {
}
